:root {
  background: #A9A9A9;
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

#foot {
  font-family: 'Syne', sans-serif;
  font-size: 14px;
  color: #ffff;
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  text-align: center;
}
